.footer{
    background-color: #212529;
    height: 150px;
    
}
h5{
    color: #ffffff8c;
    text-decoration: none;
    margin-top: 10px;
    /* padding-top: 15px; */
}
a{
    text-decoration: none;
}
#iconsFooter{
    color: white;
    margin-top: 40%;
}
p{
    color: #ffffff8c;
    align-items: center;
}
